@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color:rgb(4, 109, 0)

}

h1#principal {
    text-align: center;
    background-color: rgb(0, 255, 98);
    color:white;

}

h2 {
    color: rgb(51, 77, 49);

}

.basico { 
    color: red;


}

.intermediario {
    color: yellow;

}

.avancado {
    color:black

}